<div class="container-fluid px-4">
  <p id="notice"><%= notice %></p>

  <h1 class="mt-4">Note for <%= @course.name %></h1>

  <p>
    <strong>Entry:</strong>
    <%= @note.entry %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= @note.created_at %>
  </p>

  <%= link_to 'Edit', edit_subject_course_note_path(@subject, @course, @note) %> |
  <%= link_to 'Back', subject_course_path(@subject, @course) %>
</div>