<%= form_with(model: subject, :html => {:class => 'flex-container-2'}) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
        <% subject.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-label">
    <%= form.label :name %>
  </div>

  <div class="field">
    <%= form.text_field :name, :class => "form-control" %>
  </div>
  <br />

  <div class="actions">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
