<div class="container-fluid px-4">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @subject.name %>
  </p>

  <div id="courses">
    <% if @subject.courses.present? %>
      <h1>Courses</h1>
    <% end %>
    <%= render @subject.courses %>
    <h2>Add a Course</h2>
    <%= render partial: "courses/form", locals: {course: @subject.courses.new} %>
    <br />
  </div>

  <%= link_to 'Edit', edit_subject_path(@subject) %> |
  <%= link_to 'Back', subjects_path %>
</div>