<%= form_with(model: homework) do |form| %>
  <% if homework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(homework.errors.count, "error") %> prohibited this homework from being saved:</h2>

      <ul>
        <% homework.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :entry %>
    <%= form.text_area :entry %>
  </div>

  <div class="field">
    <%= form.label :due_at %>
    <%= form.datetime_select :due_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
