<%= form_with(model: [@subject, @course, homework]) do |form| %>
  <tr>
    <td class="field">
      <%= form.label :entry %>
    </td>

    <td class="field">
      <%= form.label :due_at %>
    </td>
  </tr>

  <tr>
    <td class="field">
      <%= form.text_area :entry %>
    </td>

    <td class="field">
      <%= form.datetime_select :due_at %>
    </td>

    <td class="actions">
      <%= form.submit %>
    </td>
  </tr>
<% end %>
