<%= form_with(model: [@subject, @course, homework]) do |form| %>

  <div class="field">
    <%= form.label :entry %>
    <%= form.text_area :entry %>
  </div>

  <div class="field">
    <%= form.label :due_at %>
    <%= form.datetime_select :due_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
