<p id="notice"><%= notice %></p>

<p>
  <strong>Entry:</strong>
  <%= @homework.entry %>
</p>

<p>
  <strong>Due at:</strong>
  <%= @homework.due_at %>
</p>

<%= link_to 'Edit', edit_subject_course_homework_path(@subject, @course, @homework) %> |
<%= link_to 'Back', subject_course_path(@subject, @course) %>
