<div class="container-fluid px-4">
  <p id="notice"><%= notice %></p>

  <h1 class="mt-4">Homework Assignment for <%= @course.name %></h1>

  <p>
    <strong>Entry:</strong>
    <%= @homework.entry %>
  </p>

  <p>
    <strong>Due at:</strong>
    <%= @homework.due_at %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= @homework.created_at %>
  </p>

  <%= link_to 'Edit', edit_subject_course_homework_path(@subject, @course, @homework) %> |
  <%= link_to 'Back', subject_course_path(@subject, @course) %>
</div>