<div class="container-fluid px-4">
  <p id="notice"><%= notice %></p>

  <h1 class="mt-4"><%= @course.name %></h1>

  <div class="row">
      <div class="col-xl-6">
          <div class="card mb-4">
              <div class="card-header">
                  Notes
              </div>
              <div class="card-body">
                  <%= render @course.notes %>
              </div>
          </div>
      </div>
      <div class="col-xl-6">
          <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-chart-bar me-1"></i>
                  Homework Assignments
              </div>
              <div class="card-body">
                  <%= render @course.homeworks %>
              </div>
          </div>
      </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Add a note</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <%= render partial: "notes/form", locals: {note: @course.notes.new} %>
    </tbody>
  </table>

  <br />

  <table>
    <thead>
      <tr>
        <th>Add a homework assignment</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <%= render partial: "homeworks/form", locals: {homework: @course.homeworks.new} %>
    </tbody>
  </table>

  <br />

  <%= link_to 'Edit', edit_subject_course_path(@subject, @course) %> |
  <%= link_to 'Back', @subject %>
</div>