<div class="container-fluid px-4">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @course.name %>
  </p>
  <div class="row">
      <div class="col-xl-6">
          <div class="card mb-4">
              <div class="card-header">
                  Notes
              </div>
              <div class="card-body">
                  <%= render @course.notes %>
              </div>
          </div>
      </div>
      <div class="col-xl-6">
          <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-chart-bar me-1"></i>
                  Homework Assignments
              </div>
              <div class="card-body">
                  <%= render @course.homeworks %>
              </div>
          </div>
      </div>
  </div>

  <h2>Add a Note</h2>
  <%= render partial: "notes/form", locals: {note: @course.notes.new} %>
  <br />

  <h2>Add a Homework Assignment</h2>
  <%= render partial: "homeworks/form", locals: {homework: @course.homeworks.new} %>
  <br />

  <%= link_to 'Edit', edit_subject_course_path(@subject, @course) %> |
  <%= link_to 'Back', @subject %>
</div>